---
export interface Props {
  title: string;
  subtitle?: string;
  centered?: boolean;
  padding?: string;
  bgColor?: string;
  id?: string;
}

const {
  title,
  subtitle,
  padding = "py-16",
  centered = false,
  bgColor = "bg-white",
  id,
} = Astro.props;

const titleAlignment = centered ? "text-center" : "text-left";
const sectionPadding = padding ? padding : "py-16";
---

<section class={`${bgColor} ${sectionPadding} overflow-x-hidden`} id={id}>
  <div class="container mx-auto px-4">
    <div class={` mb-12`}>
      <h2
        class={`font-heading text-3xl md:text-4xl font-bold mb-4 ${titleAlignment} animate-on-scroll`}
      >
        {title}
      </h2>
      {
        subtitle && (
          <p
            class={`text-lg text-gray-600 ${titleAlignment} animate-on-scroll`}
          >
            {subtitle}
          </p>
        )
      }
    </div>

    <slot />
  </div>
</section>
